html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.hero-banner {
  position: relative;
  max-height: 900px;
  background-color: #f5f5f5;
  min-height: max-content;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.banner-content-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
}
.first-wrapper {
  flex: 1;
  height: auto;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.second-wrapper {
  /* width: 40%; */
  /* border-radius: 10px; */
  margin: 150px auto auto auto;
  height: 40vw;
  width: 100%;

  max-width: 50%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-content {
  width: 300px !important;
}
.zone {
  display: flex;
  background: #fff;
  width: 300px;
  padding: 10px 10px;
  border: 2px dashed lightgrey;
  border-radius: 5px;
  color: #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  transition: all 0.3s ease-out;
}
.first-wrapper__content {
  margin: 50px 0 50px 85px;
}
.inner__content {
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}

.selectFile {
  height: 200px;
  margin: 20px auto;

  width: 200px;
}

.selectFile label,
.input-text {
  cursor: pointer;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
}
.selectFile label {
  background: #fe2c55;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  line-height: 50px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 1px 1px gray;
}
.selectFile .input-text[type="file"] {
  opacity: 0;
}

.checked:checked::after {
  background-color: #fe2c55;
}

.second-wrapper label {
  text-align: left;
  font-weight: bold;
}
.checked-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
