.microcard {
  margin: 10px 0 0 0;
}
.section {
  display: flex;
  flex-direction: column;
  /* margin: 0; */
}

.bold {
  font-weight: 900;
}
.img-profile {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 25px;
  margin-right: 15px;
  object-fit: cover;
}
.next {
  color: #fe5475;
  margin: 20px 0 0 -150px;
}
@media only screen and (max-width: 850px) {
  p,
  h5,
  h6 {
    display: none;
  }
  .img-profile {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25px;
    margin-right: 15px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
