* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-banner {
  position: fixed;
  width: 100%;
}
.nav-links {
  color: #000;
  font-size: 3vmin;
  font-weight: bold;
}
.navbar {
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid lightgray;
}
.nav-links .btn {
  padding: 10px 30px;
  background: #fe2c55;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}
.btn :hover {
  background: #fe2c55;
  color: whitesmoke;
}
ul {
  list-style: none;
}
.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search__input {
  width: 450px;
  height: 3.5rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 15px 15px;
  font-size: 2.5vmin;
}
.search__submit {
  width: 3.5rem;
  height: 2.3rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  border-left: 1px solid gray;

  outline: none;
}
.nav-links li {
  margin: 0px 30px;
}
.App-logos {
  width: 120px;

  pointer-events: none;
  object-fit: contain;
}
/* .upload {
  color: #333 !important;
  font-weight: bold;
}
.navContainer {
  justify-content: space-around !important;
} */
@media only screen and (max-width: 850px) {
  /* .navbar {
    padding: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  } */
  .App-logos {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 85px;
  }
  .nav-links {
    margin: 0px 0px 0px 100px;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .upload {
    display: none;
  }
  .nav-links li {
    margin: 10px 0px 0px 25px;
  }
  .nav-links .btn {
    padding: 5px 5px;
    background: #fe2c55;
    border-radius: 8px;
    color: #ffffff;
    font-size: 3vmin;
  }
  .form__banner {
    display: none;
  }
}
